<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/css/style.css'/>
        <link rel="icon" href="/img/weather.png">
        <title>Home Page</title>
    </head>
    
    <body>
        <div class='main-content'>
            {{>header}}
            <h3>You are currently on the homepage</h3>

            <form action="">
                <input placeholder="Location">
                <button>Search</button>
            </form>
        </div>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <p></p>
        {{>footer}}
        <script src='/js/app.js'></script>
    </body>
</html>